---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="imgs">
	<main>
		<h1><span class="text-gradient">imagenes</span></h1>
		<a><img src="/shrek.webp" /><img src="https://www.famousbirthdays.com/headshots/geronimo-benavides-1.jpg">
		<img src="/logo/asdasdads.jpg" />
        <img src="momaso.jpg" />
	</main>
</Layout>